@import "../../assets/fonts/import-fonts.css";

:root {
  --bg-col: #171717;
  --text-bright: #ffffff;
  --text-dim: #cbcbcb;
  --card-bg: #1b1b1b;
  --card-border: #353535;
  --profile-bg: #161616;
  --accent: #ff3d40;
}

body {
  font-family: "PP Neue Montreal";
  background-color: var(--bg-col);
  color: var(--text-dim);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#grid-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
}

#home-container {
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--card-bg);
  height: 100%;
  border: 1px solid var(--card-border);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  #home-title {
    #home-red{
      color: var(--accent);
      font-style: italic;
    }
    #home-thick{
      font-style: italic;
      font-weight: 600;
    }
    font-size: 5vw;
  }
  #home-content{
    font-size: 1.4vw;
    a{
      position: relative;
      color: var(--accent);
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

#loading-screen{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}