@import "../../assets/fonts/import-fonts.css";

:root {
  --bg-col: #171717;
  --text-bright: #e6e6e6;
  --text-dim: #cbcbcb;
  --text-dim-more: #969696;
  --card-bg: #1b1b1b;
  --card-border: #353535;
  --profile-bg: #161616;
  --accent: #ff3d40;
}

body {
  position: absolute;
  font-family: "PP Neue Montreal";
  background-color: var(--bg-col);
  color: var(--text-dim);
  height: 100%;
  width: 100%;
  overflow: hidden;
  scrollbar-width: thin;
}

#grid-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
  @media (max-width: 900px) {
    grid-template-columns: 0fr 4fr;
    gap: 0;
    width: 100%;
  }
  & > div {
    min-height: 0px;
  }
}

#home-container {
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--card-bg);
  height: 100%;
  border: 1px solid var(--card-border);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  #home-title {
    #home-red {
      color: var(--accent);
      font-style: italic;
    }
    #home-thick {
      font-style: italic;
      font-weight: 600;
    }
    font-size: 4.5vw;
    @media (max-width: 900px) {
      font-size: 6vw;
    }
  }
  #home-content {
    @media (max-width: 900px) {
      font-size: 3vw;
    }
    font-size: 1.4vw;
    a {
      position: relative;
      color: var(--accent);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}



#loading-screen-abs {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--text-dim-more);
  border-radius: 24px;
}

::-webkit-scrollbar-track {
}

#popup-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #16161675;
  #popup-card {
    @media (max-width: 900px) {
      width: 80%;
      height: 70%;
    }
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.247);
    width: 600px;
    height: 350px;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: 24px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    #popup-header {
      font-size: 24px;
      font-weight: 1000;
      color: var(--text-dim-more);
      display: flex;
      justify-content: space-between;
      align-items: center;
      #popup-close-button{
        color: var(--text-dim-more);
        border: 1px solid var(--card-border);
        background-color: transparent;
        border-radius: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: 200ms background, 200ms border, color 200ms;
        font-size: 16px;
        &:hover{
          background-color: #471616;
          color: #ff7c7c;
          border-color: #7e3737;
        }
      }
    }
    #popup-form {
      height: 100%;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      #popup-submit-container{
        height: 100%;
        width: 100%;
        position: relative;
        #popup-submit{
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 15px;
          width: 120px;
          border: 1px solid transparent;
          background-color: var(--accent);
          color: var(--text-bright);
          border-radius: 24px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: border 200ms ;
          &:disabled{
            border: 1px solid #b6b6b6;
            cursor: not-allowed;
            color: var(--text-bright);
            background-color: #aa3c3e;
            
          }
          
          #popup-submit-text{
            transition: opacity 200ms;
          }
          &:hover{
            
            border: 1px solid #b6b6b6;
          
          }
        }
      }
      #popup-dropdown-container{
        width: 100%;
        #popup-dropdown{
          width: fit-content;
          height: 50px;
          margin-left: auto;
        }
      }
      #popup-id-client {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 3fr;
        @media (max-width: 900px) {
          display: flex;
          flex-direction: column;
          height: fit-content;
        }
      }
      #popup-amount-dropdown {
        width: 100%;
        position: relative;
        font-size: 18px;
        text-align: center;
        display: grid;
        gap: 10px;
        grid-template-columns: 5fr 1fr;
        @media (max-width: 900px) {
          display: flex;
          flex-direction: column;
          height: fit-content;
        }
        input {
          width: 100%;
          padding-left: 40px;
        }

        #popup-dollar {
          position: absolute;
          padding: 20px;
          font-size: 16px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          color: #686868;
          @media (max-width: 900px) {
            display: flex;
          
            justify-content: center;
            align-items: center;
            height: fit-content;
          }
        }
      }
      input {
        align-items: center;
        line-height: 20px;
        box-sizing: border-box;
        background-color: #252525;
        border: 1px solid var(--card-border);
        padding: 20px;
        border-radius: 16px;
        color: var(--text-dim);
        transition: border 200ms, background 200ms;
        &:focus {
          outline: none;
          border: 1px solid var(--text-dim-more);
          background-color: #202020;
        }
        &::placeholder {
          color: #686868;
        }
      }
    }
  }
}

#dropdown-button{
  height: 80%;
  min-width: 100px;
  border: none;
  color: var(--text-bright);
  font-weight: 400;
  border-radius: 12px;
  @media (max-width: 900px) {
    display: flex;
    padding: 10px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 200ms, background 120ms, scale 200ms ease-out;
  &:hover{
    border: 1px solid rgb(182, 182, 182);
   
  }
}

.pending{
  background-color: var(--accent);
}

.paid{
  background-color: #49ba68;
}
.on-hold{
  background-color: #2c2c2c;
}

.spinning{
            
  svg{
      animation: rotate 0.7s infinite linear;
  }
}

#loading-screen {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  .spinning{
    font-size: 25px;
  }
}


#burger-menu-button{
  position: absolute;
  right: 0;
  top: 0;
  margin:10px;
  z-index: 4;
  height: 40px;
  width: 40px;
  border: 1px solid var(--card-border);
  background-color: var(--card-bg);
  border-radius: 16px;
  color: var(--text-dim);
  cursor: pointer;
}
#burger-menu-backdrop{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #1616168a;
}
#burger-menu-container{
  position: absolute;
  height: 100%;
  background-color: var(--card-bg);
  z-index: 3;
  border-left: 1px solid var(--card-border);
  right: 0;
  width: 70%;
  
  box-sizing: border-box;
  padding-top: 60px;
  overflow: hidden;
  #burger-menu-profile{
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: #161616;
    width: 100%;
    border-top: 1px solid var(--card-border);
    display: flex;
    align-items: center;
    padding: 10px;

    box-sizing: border-box;
    #burger-logout-button{
      cursor: pointer;
      margin-left: auto;
      height: 40px;
      width: 40px;
      button{
        width: 100%;
        height: 100%;
        background-color: var(--card-bg);
        border: 1px solid var(--card-border);
        border-radius: 8px;
        color: var(--text-dim-more);
        &:hover{
          color: var(--accent);
          border-color: var(--accent);
        }
        &:active{
          color: var(--accent);
          border-color: var(--accent);
        }
      }
    }
    #profile-image-containaer{
      border-radius: 50%;
      height: 40px;
      width: 40px;
      overflow: hidden;
      img{
        height: 40px;
      }
    }
    #burger-profile-details{
      margin-left: 10px;
      display: flex;
      color: var(--text-dim);
      flex-direction: column;
      font-size: 14px;
      justify-content: space-evenly;
      height: 100%;
      #burger-profile-email{
        font-size: 12px;
        color: var(--text-dim-more);
      }
    }
  }
  #burger-menu-links{
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    #burger-menu-link{
      color: var(--text-dim-more);
      text-decoration: none;
      font-size: 24px;
      display: flex;
      width: 100%;
      position: relative;
      flex-direction: column;
      #link-underline{
        bottom: 0;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--text-dim-more);
      }
    }
    .link-active{
      color: var(--text-bright) !important;
    }

  }
}