#sidebar-buttons-container{
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    #bottom{
        margin-top: auto;
    }
    #active{
        background-color: #232323;
        &:hover{
            background-color: #272727;
        }
    }
    .sidebar-button{
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 16px;
        border: none;
        background-color: transparent;
        color: #a3a3a3;
        outline: none;
        font-weight: 1000;
        font-size: 18px;
        vertical-align: middle;
        position: relative;
        box-sizing: border-box;
        text-decoration: none;
        transition: outline 200ms, background-color 200ms;
        cursor: pointer;
        &:active{
            background-color: #232323;
            outline: 1px solid var(--card-border);
        }
        &:hover{
            background-color: #232323;
        }
        #sidebar-button-icon{
            font-size: 20px;
            
        }
        
        #invoices-pending{
            font-size: 14px;
            margin-left: auto;
            background-color: var(--accent);
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 12px;
            width: 12px;
            text-align: center;
            border-radius: 50%;
            color: white;
        }
    }
}

@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
#sidebar-loading-icon{
            
    svg{
        animation: rotate 0.5s infinite linear;
    }
}