@import "../assets/fonts/import-fonts.css";

:root{
    --bg-col: #171717;
    --text-bright: #ffffff;
    --text-dim: #cbcbcb;
    --card-bg: #1b1b1b;
    --card-border: #3E3E3E;
    --profile-bg: #161616;

}

body{
    font-family: 'PP Neue Montreal';
    background-color: var(--bg-col);
    color: var(--text-dim);
    height: 100%;
    width: 100%;
}

